@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:700);
#intro{
    font-family: 'Open Sans', 'sans-serif';
    color: rgba(0,0,0, .4);
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    
}


body {
    background-color: #fff; 
}

#primary {  
    font-family: 'Open Sans', 'sans-serif'; 
    width: 100%; 
    height: 700px;
} 

#primary main h3 {
    color: rgba(0,0,0,.125 );
    width: 100%;
    text-align: center;
    font-size: 49px;
    margin-top: 115px;
    position: absolute;
}

#primary main .quantity { 
    background-color: rgba(0,0,0,.1);
    color: rgba(0,0,0,-.1); 
    width: 100%; 
    height: 300px;
    position: relative; 
    margin-top: 40px; 
    left: 0px; 
    text-align: center;
    line-height: 10px;
    overflow-y:scroll;
}

#primary main p {
    height: 80px; 
    margin-top: 90px;
    width: 80%;
    margin-left: 10%;
}

#primary main .quantity div { 
    background-size: 30px 60px;
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url("http://www.clipartsfree.net/vector/medium/glassofwater_Clip_Art.png"); 
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 30px;
    top: 35%; 
    margin: 1px; 
}

@media screen and (max-width:1000px){
    #primary main .quantity div { background-size: 20px 40px; padding-top: 40px; height: 0px; width: 20px;}
    #primary main h4 { margin: 0; font-size: .75em; letter-spacing: 0; }
    #primary main p { margin-top: 100px;}
}

#primary .subres {
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 28px; 
    font-weight: 600; 
    color: rgba(0,0,0,.6);
    
}

#primary form section {
    background-color: rgba(100,100,100, .9);
    position: relative;
    color: #aaa;
    width: 33.33%;
    float: left; 
    text-align: center;
    height: 180px;
    line-height: 16px;    
}

#primary form section h3{
    margin-top: 45px;
}

#primary form section.weight input {
    position: relative;
    width: 70px; 
}

#primary form section.climate select {
    position: relative;
    width: 70px;  
}

#primary form section.activity select {
    position: relative;
    width: 90px; 
    bottom: -31px;
}

#refs{ 
    color: rgba(0,0,0, .4);
    width: 70%;
    margin-left: 15%;
    position: absolute;
    margin-top: 210px;
    margin-bottom: 50px;
    
}
